@charset "UTF-8";
body {
  background-color: unset;
}
body .App {
  background-image: url("https://magic.maxipizza.net/images/v2/bcg/bcg.webp");
}
body .container-fluid:has(.cover-new) {
  position: relative;
  --bs-gutter-x: unset;
}
body .container-fluid:has(.cover-new) .cover-new {
  border-radius: unset;
}
body .container-fluid:has(.cover-new) .cover-header {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  align-items: flex-start;
  background-color: rgba(38, 28, 23, 0.6);
  border-radius: 0 1rem 0 0;
}
body .container-fluid:has(.cover-new) .cover-header h1 {
  color: white;
  margin-bottom: 0.2rem;
}
body .container-fluid:has(.cover-new) .cover-header .badge-container {
  margin-bottom: unset;
}
body .container-fluid:has(.cover-new) .cover-header .badge-container .badge {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
body .container-fluid:has(h2):has(p) h2 {
  margin-bottom: 0;
}
body .body-container {
  padding: 0.5rem 0 0 0;
  background-color: white;
}
body .body-container .menu-filters-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: rgba(38, 28, 23, 0.831372549);
  padding: 1rem 0;
  border-radius: 0.4rem;
  margin: 1rem;
}
body .body-container .menu-filters-1 .container-fluid:has(.btn-outline-primary):nth-of-type(2) button:before {
  content: "Czas dostawy:";
  padding-right: 0.5rem;
}
body .body-container .menu-filters-1 .container-fluid:has(.menu-filters) {
  width: fit-content;
  margin: unset;
}
body .body-container .menu-filters-1 .container-fluid:has(.menu-filters) .cover-new {
  border-radius: unset;
}
body .body-container .card .card-body .price-bottom {
  text-align: right;
  padding-right: 1rem;
  color: #e1ae24;
}
body .fade.modal.show {
  padding: unset !important;
}
body .modal-header-back .back-icon.text-primary::after {
  content: "✕";
  position: absolute;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: rgba(0, 0, 0, 0.3);
  top: 0.5rem;
  right: 0;
  cursor: pointer;
}
body .modal-body {
  border-radius: 1rem;
}
body .form-check {
  padding: 1rem;
  font-size: 1rem !important;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
body .form-check .form-check-input {
  margin-left: inherit;
}
body .card.card-cart.card-payment.is-invalid {
  border: 0 !important;
}
body .card-cart:has(.alert-danger),
body .form-check:has(.is-invalid) {
  background-color: rgba(164, 62, 71, 0.8);
  border: 1px solid #e13929;
  border-radius: 0.4rem;
}
body .card-cart:has(.alert-danger) .card-cart-header,
body .form-check:has(.is-invalid) .card-cart-header {
  color: white;
  padding-top: 0.5rem;
}
body .card-cart:has(.alert-danger) .btn:focus,
body .card-cart:has(.alert-danger) .btn:active,
body .form-check:has(.is-invalid) .btn:focus,
body .form-check:has(.is-invalid) .btn:active {
  background-color: white !important;
}
body .card-cart:has(.alert-danger) .btn.btn-check-full,
body .form-check:has(.is-invalid) .btn.btn-check-full {
  background-color: #d9a4a9;
}
body .card-cart:has(.alert-danger) .btn.btn-check-full.active,
body .form-check:has(.is-invalid) .btn.btn-check-full.active {
  background-color: white;
}
body .form-check:has(.is-invalid) .form-check-label,
body .form-check:has(.is-invalid) .invalid-feedback {
  color: white;
  width: auto;
  display: inline-flex;
  gap: 0.5rem;
}
body .form-check:has(.is-invalid) .invalid-feedback {
  margin-top: unset;
  flex-grow: 1;
  justify-content: flex-end;
}
body .form-check .form-check-label {
  display: inline-flex;
  gap: 0.5rem;
}
body .alert-danger {
  background-color: rgba(156, 41, 52, 0.6) !important;
  border-color: #db5a66;
  border-radius: 0.4rem !important;
  background-image: none !important;
  color: #cfcfcf;
}
body .form-group:has(p.error),
body .product-option-multilevel:has(.product-item-modifiers-errors) {
  background-color: rgba(164, 38, 26, 0.2);
  border: 1px dashed red !important;
  border-radius: 0.4rem;
  padding: 0.6rem;
}
body .form-group:has(p.error) .btn.btn-primary,
body .product-option-multilevel:has(.product-item-modifiers-errors) .btn.btn-primary {
  background-color: rgba(176, 86, 86, 0.7019607843);
  border: none;
}
body .btn:focus-visible,
body .btn:first-child:active, body :not(.btn-check) + .btn:active {
  background-color: #ca960a !important;
  border-color: #5b5047 !important;
}
body .btn-primary[disabled],
body .btn-primary.disabled-view {
  background: #7e7b72 !important;
  border-color: #616057 !important;
  color: lightgray !important;
}
body .form-group:has(p.error) p.error,
body .product-option-multilevel:has(p.product-item-modifiers-errors) p.product-item-modifiers-errors {
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}
body .product-modifier-option button.btn-pick {
  position: relative;
}
body .product-option-body .product-option-content .product-option-actions {
  justify-content: flex-end;
}
body .product-option-body .product-option-content .product-option-actions .price {
  color: #e1ae24;
  padding-right: 0.5rem;
  font-size: 1rem;
}
body .product-item-modifiers .product-modifier-option button.btn-pick:not(:disabled):after,
body .product-option-multilevel:has(p.product-item-modifiers-errors) button.btn:not(:disabled):after,
body .product-item-modifiers .form-group:has(.error) .row-cols-2:after,
body .btn-group-submit:has(button.btn-primary.btn.btn-submit:not(:disabled):not(.disabled-view)) button.btn-submit::after {
  content: "";
  background-image: url("https://www.maxipizza.pl/images/v2/svg/hand.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: -1.2rem;
  z-index: 2;
  left: 0;
}
body .btn-group-submit:has(.input-group-quantity) button.btn-submit-fixed-bottom:has(.btn-cart-price) {
  padding-right: 4rem;
  padding-left: 0.5rem;
}
body footer.footer .footer-store {
  background-color: rgba(38, 28, 23, 0.8);
}
body footer.footer .footer-store .footer-list ul {
  background-color: rgb(38, 28, 23);
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
body footer.footer .footer-store .footer-list .footer-list-item:hover {
  background-color: rgb(38, 28, 23);
}
body footer.footer .footer-bottom {
  min-height: 2rem;
}
body footer.footer .footer-bottom .footer-powered-by {
  display: none;
}
body .modal .modal-content {
  border-radius: 1rem;
}
body .modal .modal-content .modal-product-content {
  border-radius: 1rem;
}
body .modal .modal-content .modal-product-content .modal-product-full-right {
  border-radius: 1rem;
}
body .modal .modal-content .modal-product-content .modal-product-full-right .container-fluid .modal-header {
  padding-right: 0.5rem;
}
body .modal .modal-content .modal-product-content .modal-product-full-right .container-fluid .modal-body .product-item-footer {
  border-radius: 1rem;
}
body .modal-product-full .product-item .btn-submit .btn-cart-price {
  position: absolute;
  right: 0.4rem;
  top: 0.85rem;
}
body .btn-primary .right.btn-cart-price:not(:empty),
body .btn-primary .price:not(:empty) {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: #5b5047;
  border-radius: 0.7rem;
  color: white;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
}
body .btn-primary .right.btn-cart-price:not(:empty) {
  margin: -0.5rem;
}
body .summary-container .cart.cart-container {
  background-color: white !important;
  padding: 1rem;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .cart-sticky-container {
    box-shadow: 10px 10px 10px -5px rgba(44, 47, 49, 0.3019607843);
  }
}
@media (min-width: 992px) {
  .cart-sticky-container {
    box-shadow: 10px 10px 10px -5px rgba(44, 47, 49, 0.3019607843);
  }
}

/*# sourceMappingURL=go-order-styles.css.map */
