@mixin flex-center {
  justify-content: center;
  align-items: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: row;
  @include flex-center;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  @include flex-center;
}

$primary-brown: #352D25FF;
$lighter-brown: #58513e;
$primary-brown-gradient: linear-gradient(180deg, #342d26, #3c2e1d);
$lighter-brown-gradient: linear-gradient(170deg, #53493e, #63513d);
$primary-orange: #F6C236;

.App {

}